<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[redirectError]" type="hidden" value="{{ 'comment-failure' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}">
  <textarea id="message-{{ include.parent_id }}" class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)" required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required>
    <button class="comment-submit" type="submit">SEND</button>
  </div>
  <input type="hidden" name="options[reCaptcha][siteKey]" value="6LeWYGUgAAAAALUJMdECJ8b5fME34y7ScztRaNZh">
  <input type="hidden" name="options[reCaptcha][secret]" value="H2Ry5I1+3sPzLLBTy1Y63u5Mda8OEEqn/rTAN2F2+4cE89RLwNGbzNz3qdziBB05zwEYbL86DOXkE2PWfnoCIqolhUjTMed683t03+PHYr0KgLw3a0RcECHutn1M+JXzB81/IduJ94uhEOpdbBfkEn571xkL51+5Nwy2MJ9KmkIf01bzQ+YNkt/s1PIMpEKcFGfB/snLE78p54Mkkos4NEBJEkRar97USdDbwGdnOOb3jP+MRiLco9YhaXQbST/lGJAlR9tD8ojp9My5pinmt5rFFkVFSJs3lKDLkgQUF3dTf5qTsyWNIJfVvBfpLN3wi5tkMktIyCmH5Dn4TCO2hw==">
  <div class="g-recaptcha" data-sitekey="6LeWYGUgAAAAALUJMdECJ8b5fME34y7ScztRaNZh"></div>
</form>

<script>
  var simplemde = new SimpleMDE({ 
      element: document.getElementById("message-{{ include.parent_id }}"),
      forceSync: true,
      spellChecker: false,
      status: false,
      placeholder: 'Comment (markdown supported)'
  });
</script>

