<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}">
  <textarea id="message-{{ include.parent_id }}" class="comment-message" name="fields[message]" placeholder="Comment (markdown accepted)" required></textarea>
  <div class="comment-bottom">
    <input class="comment-name" name="fields[name]" type="text" placeholder="Name" required>
    <button class="comment-submit" type="submit">SEND</button>
  </div>
  <input type="hidden" name="options[reCaptcha][siteKey]" value="6LeWYGUgAAAAALUJMdECJ8b5fME34y7ScztRaNZh">
  <input type="hidden" name="options[reCaptcha][secret]" value="IifjnrWAe7LMHL25upZh3F+VnYQmdIRKNu03wSCqIM4Ifi/VKqxh0L5MXM6IoqW9w0NLYtIqCUYuz0F9YODJOf5IPelcHSuWJQutdTMt7oiPSlZvHLpr0wH+CLi+WDZaCAd1QaqQT3mn0hPNHk+ETJ3WciMHeAMzN3DyfbAdqtg=">
  <div class="g-recaptcha" data-sitekey="6LeWYGUgAAAAALUJMdECJ8b5fME34y7ScztRaNZh"></div>
</form>

<script>
  var simplemde = new SimpleMDE({ 
      element: document.getElementById("message-{{ include.parent_id }}"),
      forceSync: true,
      spellChecker: false,
      status: false,
      placeholder: 'Comment (markdown supported)'
  });
</script>

